* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  min-width: 32rem;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  background-color: #ff8a00;
  height: 5rem;
  position: relative;
}
nav span {
  position: absolute;
  top: 0.7rem;
  left: 5rem;
}
nav span a {
  text-decoration: none;
}
nav span a img {
  width: 9rem;
}
nav .nav {
  position: absolute;
  top: 0.8rem;
  right: 4rem;
}
nav .nav a {
  margin-left: 1.5rem;
}
nav .nav a img {
  width: 2.5rem;
}
footer {
  width: 100%;
  height: 20rem;
  background-color: #2f3130;
}
footer .top {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #ccc;
}
footer .top p {
  font-size: 1.3rem;
  margin-left: 2rem;
  line-height: 5rem;
  color: #888786;
  font-weight: 500;
}
footer .top span {
  font-size: 1.3rem;
  color: #888786;
  font-weight: 500;
}
footer .content {
  width: 100%;
  margin-top: 1rem;
}
footer .content ul {
  list-style: none;
  display: flex;
}
footer .content li {
  flex: 1;
  margin-left: 2rem;
  margin-top: 1rem;
  position: relative;
}
footer .content li img {
  width: 2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.1rem;
}
footer .content li .left {
  display: inline-block;
  margin-left: 4rem;
  padding-top: 0.1rem;
}
footer .content li .left p {
  color: #8e8f8f;
  font-size: 1.2rem;
}
footer .text {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}
footer .text p {
  color: #85888a;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}
