* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  min-width: 32rem;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
.box nav {
  width: 100%;
  background-color: #ff8a00;
  height: 5rem;
  position: relative;
}
.box nav span {
  position: absolute;
  top: 0.7rem;
  left: 5rem;
}
.box nav span a {
  text-decoration: none;
}
.box nav span a img {
  width: 12rem;
}
.box nav .nav2 {
  position: absolute;
  top: 0.8rem;
  right: 4rem;
}
.box nav .nav2 a {
  text-decoration: none;
  margin-left: 1.5rem;
}
.box nav .nav2 a img {
  width: 2.5rem;
}
.box .content {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.box .content .img {
  width: 100%;
  position: relative;
}
.box .content .img img {
  width: 100%;
}
.box .content .img .fen {
  width: 4rem;
  height: 1.8rem;
  background-color: rgba(9, 9, 9, 0.3);
  color: white;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
  position: absolute;
  bottom: 1.8rem;
  right: 2rem;
  border-radius: 1rem;
}
.box .content .wenzi {
  background-color: #fff;
  margin-top: -0.4rem;
  padding: 2rem 2.4rem;
}
.box .content .wenzi h3 {
  font-size: 2.1rem;
  margin-bottom: 0.3rem;
}
.box .content .wenzi .p1 {
  display: block;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.65rem;
  margin-bottom: 0.3rem;
  background: url(../images/shoujihuang.png) no-repeat 31rem 1.1rem;
  background-size: 1.5rem;
}
.box .content .wenzi .p1 span {
  font-weight: 600;
  color: #db4c3f;
}
.box .content .wenzi .p2 {
  font-size: 1.4rem;
  color: #b1b6ca;
  margin-bottom: 1.5rem;
}
.box .content .wenzi ul li {
  list-style: none;
  display: inline-block;
  background-color: #dee9f0;
  padding: 0.7rem 0.5rem;
  font-size: 1.4rem;
  color: #849aae;
  margin-right: 1.2rem;
}
.box .content2 {
  width: 100%;
  height: 54rem;
  background-color: #fff;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 0 2.2rem;
  box-sizing: border-box;
}
.box .content2 ul li {
  width: 100%;
  height: 5.7rem;
  list-style: none;
  display: inline-block;
  margin-bottom: 0.2rem;
  line-height: 5.7rem;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  position: relative;
}
.box .content2 ul li span {
  position: absolute;
  left: 16rem;
}
.box .content2 .more {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #9a9a9a;
}
.box .content3 {
  width: 100%;
  height: 26rem;
  margin-top: 1.5rem;
  background-color: #fff;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 0 2.2rem;
  box-sizing: border-box;
}
.box .content3 h3 {
  width: 100%;
  height: 5.5rem;
  border-bottom: 0.1rem solid #e5e5e5;
  font-size: 1.85rem;
  color: #ff9d3c;
  line-height: 5.5rem;
}
.box .content3 p {
  display: block;
  width: 100%;
  border-bottom: 0.1rem solid #e5e5e5;
  font-size: 1.4rem;
  line-height: 3rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.box .content3 .tese {
  width: 100%;
  height: 5.5rem;
  line-height: 5.5rem;
  text-align: center;
  color: #9a9a9a;
  font-size: 1.4rem;
}
.box .content4 {
  width: 100%;
  height: 34.5rem;
  margin-top: 1.5rem;
  background-color: #fff;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 0 2.2rem;
  box-sizing: border-box;
}
.box .content4 h3 {
  width: 100%;
  height: 5.5rem;
  border-bottom: 0.1rem solid #e5e5e5;
  font-size: 2.2rem;
  color: #ff9d3c;
  line-height: 5.5rem;
}
.box .content4 ul li {
  list-style: none;
}
.box .content4 ul li:nth-of-type(2) .fang1 {
  border-bottom: none;
}
.box .content4 ul li .fang1 {
  display: flex;
  height: 11.5rem;
  margin-top: 2.6rem;
  border-bottom: 1px solid #ff9110;
}
.box .content4 ul li .fang1 .fang1Img {
  flex: 1;
}
.box .content4 ul li .fang1 .fang1Img img {
  width: 88%;
}
.box .content4 ul li .fang1 .fang1Zi {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}
.box .content4 ul li .fang1 .fang1Zi h4 {
  flex: 0.6;
  font-size: 1.6rem;
}
.box .content4 ul li .fang1 .fang1Zi .p3 {
  flex: 0.6;
  font-size: 1.4rem;
}
.box .content4 ul li .fang1 .fang1Zi .p4 {
  flex: 1;
  font-size: 1.4rem;
}
.box .content4 ul li .fang1 .fang1Zi .p4 span {
  display: inline-block;
  background-color: #f4f7f9;
  padding: 0.6rem 0.5rem;
  color: #8ba1b3;
}
.box .content5 {
  width: 100%;
  height: 41.5rem;
  background-color: #fff;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 0 2.2rem;
  box-sizing: border-box;
}
.box .content5 h3 {
  width: 100%;
  height: 5.5rem;
  border-bottom: 0.1rem solid #e5e5e5;
  font-size: 2.2rem;
  line-height: 5.5rem;
}
.box .content5 ul li {
  width: 100%;
  height: 5.7rem;
  list-style: none;
  display: inline-block;
  margin-bottom: 0.2rem;
  line-height: 5.7rem;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
}
.box .content5 ul li span {
  color: #9a9a9a;
}
.box .content5 .more {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #9a9a9a;
}
.box .content6 {
  width: 100%;
  height: 30rem;
  background-color: #fff;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 0 2.2rem;
  box-sizing: border-box;
}
.box .content6 h3 {
  width: 100%;
  height: 5.5rem;
  border-bottom: 0.1rem solid #e5e5e5;
  font-size: 2.2rem;
  line-height: 5.5rem;
}
.box .content6 img {
  width: 100%;
  margin-top: 3rem;
}
.box .content7 {
  width: 100%;
  height: 53rem;
  background-color: #fff;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 0 2.2rem;
  box-sizing: border-box;
}
.box .content7 h3 {
  width: 100%;
  height: 5.5rem;
  border-bottom: 0.1rem solid #e5e5e5;
  font-size: 2.2rem;
  line-height: 5.5rem;
}
.box .content7 ul li {
  list-style: none;
  height: 20.5rem;
  border-bottom: 1px solid #e5e5e5;
}
.box .content7 ul li .fang2 {
  display: flex;
  height: 13.5rem;
}
.box .content7 ul li .fang2 .fang2Img {
  flex: 1.05;
  margin-top: 3.6rem;
}
.box .content7 ul li .fang2 .fang2Img img {
  width: 100%;
}
.box .content7 ul li .fang2 .fang2Zi {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  margin-top: 2.3rem;
  margin-left: 1.3rem;
}
.box .content7 ul li .fang2 .fang2Zi h4 {
  font-size: 2.1rem;
  flex: 1.2;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box .content7 ul li .fang2 .fang2Zi .p5 {
  margin-top: 1rem;
  font-size: 1.4rem;
  flex: 1;
  position: relative;
}
.box .content7 ul li .fang2 .fang2Zi .p5 span {
  position: absolute;
  right: 1rem;
  font-weight: 600;
  color: #ff9226;
}
.box .content7 ul li .fang2 .fang2Zi .p6 {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: #8b8b8b;
  flex: 1;
  position: relative;
}
.box .content7 ul li .fang2 .fang2Zi .p6 span {
  position: absolute;
  right: 1rem;
}
.box .content7 ul li .fang2 .fang2Zi .p7 {
  flex: 1;
  margin-top: 0.9rem;
}
.box .content7 ul li .fang2 .fang2Zi .p7 .span1 {
  font-size: 1.4rem;
  background-color: #f4f7f9;
  padding: 0.5rem;
  color: #8ba1b3;
}
.box .content7 ul li .tuijian .sanjiao {
  width: 0;
  height: 0;
  border: 1.2rem solid #f2f2f2;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  margin-top: -1.5rem;
  margin-left: 0.5rem;
}
.box .content7 ul li .tuijian .liyou {
  height: 4rem;
  background-color: #f2f2f2;
  font-size: 1.4rem;
  line-height: 4rem;
}
.box .content7 ul li .tuijian .liyou p {
  margin-left: 1rem;
}
.box .content7 .more {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #9a9a9a;
}
.box .content8 {
  width: 100%;
  height: 6rem;
}
.box .content8 .lianxi {
  margin-top: 1rem;
  margin-left: 2rem;
}
.box .content8 .lianxi p {
  display: inline-block;
  line-height: 4.7rem;
  font-size: 1.45rem;
}
.box .content8 .lianxi .p8 {
  width: 23.5rem;
  height: 4.7rem;
  background: url(../images/yonghu.png) no-repeat 3.8rem 0.8rem;
  background-size: 3rem;
  background-color: #ff8a00;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
}
.box .content8 .lianxi .p9 {
  width: 6rem;
  height: 4.7rem;
  color: #666666;
  padding-left: 4.8rem;
  background: url(../images/aixin.png) no-repeat 1rem 0.9rem;
  background-size: 3rem;
}
.box footer {
  width: 100%;
  height: 20rem;
  background-color: #2f3130;
}
.box footer .top {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #ccc;
}
.box footer .top p {
  font-size: 1.65rem;
  font-weight: 600;
  margin-left: 2rem;
  line-height: 5rem;
  color: #888786;
}
.box footer .top span {
  font-size: 1.65rem;
  font-weight: 600;
  color: #888786;
}
.box footer .contentdi {
  width: 100%;
  margin-top: 1rem;
}
.box footer .contentdi ul {
  list-style: none;
  display: flex;
}
.box footer .contentdi li {
  flex: 1;
  margin-left: 2rem;
  margin-top: 1rem;
  position: relative;
}
.box footer .contentdi li img {
  width: 2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.1rem;
}
.box footer .contentdi li .left {
  display: inline-block;
  margin-left: 4rem;
  padding-top: 0.1rem;
}
.box footer .contentdi li .left p {
  color: #8e8f8f;
  font-size: 1.45rem;
}
.box footer .text {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}
.box footer .text p {
  color: #85888a;
  font-size: 1.45rem;
  line-height: 2rem;
  font-weight: 500;
}
